<div class="row">
	<div class="span12 offset2" , id="profile">
		<h1>Create New Artical</h1>
		<%= render 'form' %>
		</br>
		<%= link_to 'Back', root_path, class: "btn btn-primary"  %>
	</div>
</div>